.logo {
    border-radius: 50%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white;
    background-color: black;
}

.nav-link:hover {
    color: white;
    background-color: silver;
}

.nav-link {
    color: black;
}

.feature-img {
    border-radius: 5%;
}

.cst {
    width: 18rem;
    margin-left: 10px;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}