.logo {
    border-radius: 50%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white;
    background-color: black;
}

.nav-link:hover {
    color: white;
    background-color: silver;
}

.nav-link {
    color: black;
}

.feature-img {
    border-radius: 5%;
}

.cst {
    width: 18rem;
    margin-left: 10px;
}

.blog-footer {
    padding: 1.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}


/* Sticky footer styles */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    width: 100%;
    background-color: #f8f9fa;
    /* Light gray background for footer */
    padding: 1px 0;
    text-align: center;
}

footer-content {
    margin-top: auto;
}

.container {
    flex: 1;
    /* Makes sure the content takes up available space */
}

.footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
}

.blog-footer p {
    margin: 5px 0;
    /* Reduce margin between paragraphs */
    /* font-size: 14px; */
    /* Adjust font size */
    line-height: 1.2;
    /* Reduce line height */
}

@media (max-width: 1347px) {
    /* Targets mobile devices */
    .row>.featurette {
        display: contents;
        /* Maintain this for mobile */
    }
    .col-md-5,
    .col-md-7 {
        width: 100%;
        /* Make columns full width on mobile */
        text-align: center;
        /* Center text within columns */
    }
}